.nav-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}

.link {
  padding: 0;
  text-decoration: none;
  transition: all .3s ease-in;
}
.link:hover {
  color: white
}
.link:visited {}