.main {
  overflow: hidden;
  width: 600px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}
.submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 52px;
}

.list {
  align-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.list::-webkit-scrollbar  {
  width: 8px;
}
.list::-webkit-scrollbar-track {
  background: #2F2F37;
  margin-bottom: 52px; 
  margin-top: 91px;

}
.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}