.main {
  min-height: 620px;
  width: 640px;
  flex-direction: column;
}
.statusDone {
  color: #00CCCC;
}
.statusCanceled {
  color: red;
}
.bottom {
  flex-direction: row;
  justify-content: space-between;
}
.number {
  text-align: center;
}

.ingredients {
  flex-direction: row;
  max-height: 312px;
  scroll-behavior: smooth;
  flex-grow: 1;
  align-content: flex-start;
  width: 100%;
  overflow-y: auto;
}
.ingredients::-webkit-scrollbar  {
  width: 8px;
}
.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}
.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}