.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
span {
  display: block;
}
.name {
  max-width: 520px;
  word-wrap: break-word;
}
.infoBlock {
  width: 520px;
  justify-content: space-between;
}
.img {
  min-height: 240px;
}
