.main {
  width: 600px;
  height: 100%;
}
span { 
  display: block;
}
.categories {
  height: 83%;
  overflow-y: auto;
}
.categories::-webkit-scrollbar  {
  width: 8px;
}
.categories::-webkit-scrollbar-track {
  background: #2F2F37;
  margin-bottom: 52px; 
  margin-top: 40px;
}
.categories::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}